<%= form_for(@state) do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => {:modelo => @state} %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sigla %><br>
    <%= f.text_field :sigla %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
