<tr>
	<td><%= order.fornecedor.parceiro.name %></td>
    <td><%= order.total %></td>
    <td><%= order.obs %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
   	<td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
