      <tr>
        <td><%= document.venc %></td>
        <td><%= document.valor %></td>
        <td><%= document.parceiro.name %></td>
        <td><%= document.account.name %></td>
        <td><%= document.sta %></td>
        <td><%= link_to 'Show', document %></td>
      </tr>