<%= form_for(@document) do |f| %>
	<%= render :partial => 'shared/error_messages', :locals => {:modelo => @document} %>
	<fieldset>
		<legend>Dados do Documento</legend>
		
		<div class="row">
    		<div class="small-3 columns">
				<%= f.label :venc %>
			</div>
			<div class="small-6 columns">
				<%= f.date_field :venc %>
			</div>
		</div>
		
		<div class="row">
    		<div class="small-3 columns">
				<%= f.label :valor %>
			</div>
			<div class="small-6 columns">
				<%= f.text_field :valor %>
			</div>
		</div>
		
		<div class="row">
	       	<div class="small-3 columns">
				<%= f.label :parceiro_id %>
			</div>
			<div class="small-9 columns">
			    <%= collection_select(:document, :parceiro_id, Parceiro.all, :id, :name, {:prompt => "Selecione o Parceiro"}, :class => "selector") %>
			</div>
		</div>
		
		<div class="row">
	       	<div class="small-3 columns">
				<%= f.label :account_id %>
			</div>
			<div class="small-9 columns">
			    <%= collection_select(:document, :account_id, Account.all, :id, :name, {:prompt => "Selecione a Conta"}, :class => "selector") %>
			</div>
		</div>
	</fieldset>
	
    <%= f.submit 'Criar documento', :class => 'button'%>
  
<% end %>
