<p>
  <strong>Venc:</strong>
  <%= @document.venc %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @document.valor %>
</p>

<p>
  <strong>Parceiro:</strong>
  <%= @document.parceiro.name %>
</p>

<p>
  <strong>Conta:</strong>
  <%= @document.account.name %>
</p>

<p>
  <strong>Sta:</strong>
  <%= @document.sta %>
</p>

<%= link_to 'Back', documents_path %>
