<%= form_for(@member) do |f| %>
	<% if @member.errors.any? %>
		<div id="error_explanation">
      		<h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>
			<ul>
      			<% @member.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
				<% end %>
      		</ul>
		</div>
	<% end %>
	<%= render :partial => 'parceiros/form', :locals => {:f => f, :parceiro => :parceiro }%>
  	<fieldset>
		<legend>Dados do Membro</legend>

		<div class="row">
        	<div class="small-3 columns">
				<%= f.label :entrada %>
			</div>
			<div class="small-9 columns">
			    <%= f.date_field :entrada %>
			</div>
		</div>
	  	
  	</fieldset>
	<%= f.submit 'Salvar', :class => 'button' %>
	
<% end %>
